@import "tailwindcss";

@theme {
  --color-primary: #1A936F;
  --color-primary-light: #A8E6CF;
  --color-secondary: #7E60BF;
  --color-secondary-light: #E5D9F2;
  --color-background: #FAF8F6;
  --color-surface: #FFFFFF;
  --color-text: #1E1F24;
  --color-text-light: #6B7280;
  --color-border: #E5E7EB;

  /* Estados */
  --color-success: #2E7D32;
  --color-warning: #F9A825;
  --color-error: #C62828;

  /* Fondos de estado */
  --color-success-bg: #E8F5E9;
  --color-warning-bg: #FFF8E1;
  --color-error-bg: #FFEBEE;
}